<header>
    <div class="headNav">
        <div class="part1">
            <div><a class="brand theme" href="#">HODLINFO.com</a></div>
            <div class="moto">Powered by <span class="theme">Finstreet<span></div>
        </div>
        <div class="part2">
            <ul class="selectBtn bg-secondary navbar-nav me-auto mb-2 mb-lg-0 pt-1 ps-3 pe-3 pb-1">
                <li class="nav-item dropdown">
                    <span class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        INR
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">BTC</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="selectBtn bg-secondary navbar-nav me-auto mb-2 mb-lg-0 pt-1 ps-3 pe-3 pb-1">
                <li class="nav-item dropdown">
                    <span class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        BTC
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">INR</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="part3">
            <div class="counter">
                <div class="outerCircle">
                    <div class="innerCircle">
                        <div id="number">59</div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                    width="40px" height="40px">
                <circle id="progressBarCircle" cx="20" cy="20" r="15" stroke-linecap="round"/>
                <circle id="progressCircle" cx="20" cy="20" r="15" stroke-linecap="round"/>
                </svg>
            </div>
            <a class="btn" id="teleBtn" href="#">
                    <img class="telegram-logo" src="/images/telegram.png" alt="" srcset="">
             Connect to telegram</a>
            <label class="switch">
                <input id="toggleBtn" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</header>