<section>
    <div class="container-fluid">
        <table id="table">
            <thead>
                <th>#</th>
                <th>name</th>
                <th>Last</th>
                <th>Buy/Sell Price</th>
                <th>volume</th>
                <th>base_unit</th>
            </thead>
            <table class="table2">
                <tr>
                    <td class="cell1">12</td>
                    <td>sfds</td>
                    <td>svhv</td>
                    <td>sdfss</td>
                    <td>xcvxvxvsd</td>
                    <td>ehgfgc</td>
                </tr>
                <tr>
                    <td class="cell1">12</td>
                    <td>sfds</td>
                    <td>svhv</td>
                    <td>sdfss</td>
                    <td>xcvxvxvsd</td>
                    <td>ehgfgc</td>
                </tr>
            </table>
        </table>
    </div>
</section>